/* Estilos vista splash */
.img-splash {
    width: 50%;
}

.splash {
    background: linear-gradient(to bottom right, #570364, rgb(236, 26, 156));
    height: 100vh;
}

.img-splash {
    transform: translateY(150%);
}

.city {
    background-image: url('../assets/images/city3.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo-white  {
    width: 25%;
    margin: 2em;
}

.logo-pink {
    width: 95%;
    margin: 5em 0;
}
/* estilos botones */
.btn-sign-up {
    background-color: transparent;
    border: 2px solid white;
}

.btn-sign-up:hover {
    background: linear-gradient(to bottom right, #570364, rgb(236, 26, 156));
}

/* ----------------------------- */
/*Estilos para Pagina 1 y pagina 2*/

.material-icons {
    display: block;
    font-size: 38px;
    height: 56px;
    line-height: 38px;
}

/* .banderas {
    width: 30%;
} */

.min-width {
    min-width: 0px;
}

.dropdown-content li {
    min-height: 30px;
    margin-top: 5px;
}

.btn i {
    transform: rotate(90deg);
}

.space {
    margin: 30px 0;
    width: 100%;
}

.border {
    border: 2px solid black;
}

.btn-next {
    background: linear-gradient(to bottom right, #530060, #e19);
    text-transform: capitalize;
}

/*Estilos pagina 3*/

.icon-user {
    margin-top: 15px;
    right: -20px;
}

#check p:last-child {
    margin-bottom: 0;
    width: 200px;
}

/*Estilos pagina 4*/
.height-splash{
    background: linear-gradient(to bottom right, #530060, #e19);
    height: 100vh;
}

.background-white {
    background-color: white;
}

